doctype html
html
	head
		include includes/_head.pug
		title Login - ScottJoyner.dev

	body
		section.material-half-bg
			.cover

		section.login-content
			.logo: h1 Developer Login

			.login-box
				form#signupForm.login-form
					h3.login-head
						i.bi.bi-person.me-2
						| SIGN UP
					.mb-3
						label.form-label USERNAME
						input#signupUsername.form-control(type="text", placeholder="Username", autofocus)
					.mb-3
						label.form-label EMAIL
						input#signupEmail.form-control(type="text", placeholder="Email", autofocus)

					.mb-3
						label.form-label PASSWORD
						input#signupPassword.form-control(type="password", placeholder="Password")
					.mb-3
						.utility
							p.semibold-text.mb-2
								a(href="page-login.html") Trying to Login ?
					.mb-3.btn-container.d-grid
						button#signUpBtn.btn.btn-primary.btn-block
							i.bi.bi-box-arrow-in-right.me-2.fs-5
							| SIGN UP

		include includes/_javascript.pug

		script(type="text/javascript").
			document.addEventListener('DOMContentLoaded', function() {
				const signInBtn = document.getElementById('signUpBtn');
				// Add similar button for sign-up

				signInBtn.addEventListener('click', function() {
					const username = document.getElementById('signupUsername').value;
					const email = document.getElementById('signupEmail').value;
					const password = document.getElementById('signupPassword').value;

					// AJAX request to Flask API for sign-in
					fetch('http://127.0.0.1:5000/api/signup', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({ email, username, password })
					})
					.then(response => response.json())
					.then(data => {
						// Handle response
						if (data.success) {
							// Redirect to dashboard or some other page
							window.location.href = '/dashboard';
						} else {
							// Show error message
							alert(data.message);
						}
					})
					.catch(error => {
						console.error('Error:', error);
					});
				});

				// Add event listener and AJAX request for sign-up button as well
			});